@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Teko:wght@300;600&display=swap');

//html {
//scroll-behavior: smooth;
//}

@import "../../node_modules/bootstrap/scss/variables";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.oleo-font {
  font-family: 'Teko', sans-serif;
}

section {
  padding: 3rem 0;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-img {
  border-radius: 50%;
  border: 10px solid #1a4e97;
}

.heading {
  font-size: 4rem;
  letter-spacing: 2px;
}

.active-link {
  color: $primary !important;
  font-weight: bold;
}


.wrapper {
  position: relative;
}

.scrollToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: 3px solid $primary;
  color: $primary;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transition-property: color, opacity;
  z-index: 999;

  &:hover {
    background-color: $primary;
    color: white;
  }

  &:hover i {
    color: white;
  }


  i {
    font-size: 1.5rem;
  }
}

.scrollToTopHide {
  opacity: 0;
  pointer-events: none;
}

button.navbar-toggler {
  position: relative;
  width: 40px;
  height: 40px;

  i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:  1s;
    transition-property: opacity;
  }

}

.zeroOpacity {
  opacity: 0;
}