header {
  position: relative;
  min-height: 100vh;
  background-image: url("./../img/bg-header.jpg");
  background-size: cover;
  background-position: 0 20%;
  background-attachment: fixed;

  .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    //background: linear-gradient(120deg, rgba(0, 0, 0, 0.7) 80%, white 20%);
  }

  nav {
    background-color: #263238;
  }

  #header-content {
    padding-top: 150px;
  }

  .navbar-brand img{
    width: 100%;
    height: auto;
    display: block;
  }
  .my-logo{
    width: 200px;
  }

  .nav-link{
    font-size: 20px;
  }
  .nav-link:hover {
    color: $primary !important;
  }

}