/*footer*/
footer {
  //width: 100%;
  background-color: #263238;
  min-height: 100px;
  padding: 2rem 0;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.footer__links {
  display: flex;
  justify-content: center;

  li {
  }

  li a {
    color: rgba(255, 255, 255, 0.8);
    margin: 0 12px;
    text-decoration: none
  }

  li a:hover {
    color: $primary
  }
}


.footer__social {
  display: flex;

  li {
    margin-left: 1rem;
    border-radius: 50%;
    background-color: #374a53;
    width: 3rem;
    height: 3rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4c6572;
    }

    &:hover a {
      text-decoration: none;
    }

    &:hover i {
      color: #00baff;
      transition: background-color 0.3s;
    }
  }


  li a {
    width: 100%;
    height: 100%;
    color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li i {
    font-size: 1.25rem;
    color: lightslategray;
  }
}

