/*footer*/
footer { width:100%; background-color:#263238; min-height:100px; padding:10px 0px 25px 0px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0; margin-bottom:8px;}

.footer_bottom_ul{
  list-style-type:none;
  text-decoration: none;
  padding:0;
  display:table;
  margin: 10px auto;
}
.footer_bottom_ul li { display:inline;}
.footer_bottom_ul li a { color:#999; margin:0 12px; text-decoration: none}
.footer_bottom_ul li a:hover {color: #1a4e97}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}