section#products {

  .container {
    position: relative;
  }

  span {
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 12px;
    color: #2E7BFF;
  }

  .card {
    min-height: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

}