/******* section #about-us*/

section#about-us {

  .container {
    position: relative;
  }

}

.underlinedHeading {
  display: flex;
  position: relative;
  justify-content: center;
}

.headingContent {
  position: relative;
}

.headingContent::after {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: $primary;
  position: absolute;
  left: 0;
  bottom: 16px;
}
